<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.raumzeitlabor.status"
      android:versionCode="5"
      android:versionName="1.4">
    <application android:label="RaumZeitStatus" android:icon="@drawable/auf">
        <activity android:name=".Configure"
                  android:label="RaumZeitStatus: Configuration">
        </activity>

	<activity
	  android:name=".MenuPopup"
	  android:label="Menu Popup"
	  android:noHistory="true"
	  android:theme="@android:style/Theme.Panel"
	 />

	<receiver android:name="StatusProvider">
		<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		</intent-filter>
		<intent-filter>
			<action android:name="org.raumzeitlabor.status.UPDATE" />
			<data android:scheme="rzlstatus" />
		</intent-filter>
		<intent-filter>
			<action android:name="org.raumzeitlabor.status.CLICK" />
			<data android:scheme="rzlstatus" />
		</intent-filter>
		<intent-filter>
			<action android:name="org.raumzeitlabor.status.RELOAD" />
			<data android:scheme="rzlstatus" />
		</intent-filter>
		<meta-data android:name="android.appwidget.provider"
			android:resource="@xml/statusprovider" />
	</receiver>

	<service android:name=".WantConnectivityService" />
    </application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest> 
